<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://brand.northeastern.edu/global/assets/favicon/favicon-32x32.png?v=2"/>
    <title>Activation</title>
</head>
<body>
	<div>
		<p>
			Hi <b th:text="${email}">xxx@xxx.com</b>,
		</p>
		<p>
			Thanks for joining us! This is an activation email, please click this
			<a th:href="${url}"> link</a>,
			to activate your account.
		</p>
	</div>
</body>
</html>